/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$poppins: 'poppins', sans-serif;


/* COLORS */

$grey-color-100: rgb(245, 245, 245);
$grey-color-200: rgb(200, 200, 200);

$error-color: #dc3434;
$success-color: #50C594;
